[submodule "external/nanobind"]
	path = external/nanobind
	url = https://github.com/wjakob/nanobind.git
	branch = v2.9.2
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v3.11.0
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal.git
	branch = v1.3.2
