name: Build and Test

on:
  push:
    branches: main
  pull_request:
    branches: main
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-24.04', 'ubuntu-24.04-arm']
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: Build and test using install.sh
      run: |
        chmod +x install.sh
        sudo ./install.sh
