name: Spack Install

on:
  workflow_dispatch:
  push:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Checkout spack
        uses: actions/checkout@v4
        with:
          repository: spack/spack
          path: ./spack

      - name: Install iowarp
        run: |
          . ./spack/share/spack/setup-env.sh
          spack repo add installers/spack
          spack install iowarp+posix
          spack load iowarp+posix
