name: Windows Build and Test

on:
  push:
    branches: main
  pull_request:
    branches: main
  workflow_dispatch:

jobs:
  windows-build-and-test:
    runs-on: windows-latest
    timeout-minutes: 120
    env:
      VCPKG_DEFAULT_TRIPLET: x64-windows

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        submodules: recursive

    - name: Bootstrap vcpkg
      run: |
        cd $env:VCPKG_INSTALLATION_ROOT
        git pull
        .\bootstrap-vcpkg.bat

    - name: Configure CMake
      run: |
        cmake -B build -G "Visual Studio 17 2022" -A x64 `
          -DCMAKE_TOOLCHAIN_FILE="$env:VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake" `
          -DVCPKG_MANIFEST_DIR="${{ github.workspace }}/installers/vcpkg" `
          -DCMAKE_BUILD_TYPE=Debug `
          -DWRP_CORE_ENABLE_RUNTIME=ON `
          -DWRP_CORE_ENABLE_CTE=ON `
          -DWRP_CORE_ENABLE_CAE=ON `
          -DWRP_CORE_ENABLE_CEE=OFF `
          -DWRP_CORE_ENABLE_TESTS=ON `
          -DWRP_CORE_ENABLE_PYTHON=OFF `
          -DWRP_CORE_ENABLE_ZMQ=ON `
          -DWRP_CORE_ENABLE_CEREAL=ON `
          -DWRP_CORE_ENABLE_CONDA=OFF `
          -DWRP_CORE_ENABLE_ELF=OFF `
          -DWRP_CORE_ENABLE_RPATH=OFF `
          -DWRP_CORE_ENABLE_HDF5=OFF `
          -DWRP_CORE_ENABLE_BENCHMARKS=OFF `
          -DCMAKE_EXPORT_COMPILE_COMMANDS=ON `
          -DHSHM_LOG_LEVEL=0

    - name: Build
      run: cmake --build build --config Debug -j $env:NUMBER_OF_PROCESSORS

    - name: Run tests
      run: ctest --test-dir build --build-config Debug --output-on-failure --timeout 120
